.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin: auto;
  background: #000000;
}

.Movies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.li{
  border:2px solid black;
  background:#4D4D4D ;
  width:300px;
  margin:20px;
  padding:10px;
  border-radius:10px;
  align-items:center 
}

.ip{
   width:450px;
   height:20px;
   background:#4D4D4D;
   border-radius:10px;
   border-color:Red 
}

.btn
{
  height:30px;background:#4D4D4D;border-radius:10px;border-color:red 
}

.form{
  margin-top: 15px;
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
}